# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.whl

# Logs and test cache
*.log
.cache/
pytest_cache/

# Virtual environments
.venv/
env/
venv/
ENV/

# Editors
.idea/
.vscode/

# Other
mytest.py
